<div class="container">
  <h1><a href="/">Top Makers</a></h1>
  <ul class="list-group">
    <% const makers = (()=>{ const recs = arrayOf(new Record);
    $app.dao().recordQuery("makers").all(recs) ; dbg({recs}) ;return
    recs.map(rec=>JSON.parse((rec.marshalJSON())));})(); %> <%
    makers.forEach(maker=>{ %>
    <li class="list-group-item">
      <h5>
        <a href="/<%=maker.get(`slug`)%>"><%=maker.name%></a>
        <% if (maker.x ) { %>
        <a
          href="https://x.com/<%= maker.x %>"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <% } %>
      </h5>
    </li>
    <% }) %>
  </ul>
</div>
