{% extends "base.njk" %}

{% block content %}
  <ul class="list-group">
    {% for maker in makers %}
      <li class="list-group-item">
        <h5>
          <a href="/{{ maker.name }}">{{ maker.name }}</a>
          {% if maker.x %}
            <a
              href="https://x.com/{{ maker.x }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          {% endif %}
        </h5>
        <p>{{ maker.description }}</p>
        <p><i class="fa-solid fa-dollar-sign"></i>{{ maker.mrr | formatNumber }} mrr</p>
        {% if maker.expand.apps_via_maker.length > 0 %}
          <h6>Apps</h6>
          <ul class="list-group">
            {% for app in maker.expand.apps_via_maker %}
              <li class="list-group">
                <a href="/{{ maker.slug }}/{{ app.slug }}"> {{ app.name }} </a>
               
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
